@media all and (min-width: 1000px){
  .navigasi a:hover{
    color:#f8add7;
  }

  .navigasi li:hover::after{
    content:'';
    border-bottom: 2px solid #f8add7;
    display:block;
    width:50%;
    margin:0 auto;
    padding-bottom: 5px;
    margin-bottom:-7px;
    
  }

  .navigasi li{
    padding:0 20px;
    float:right;
  }

  .unggulan {
    width: 25%;
  }

  .unggulan-logo img{
    width:80%;
  }

  .unggulans{
    margin-bottom:300px;
    padding-bottom:50px;
  }

  /*footer*/
  .footer {  
    background-image:linear-gradient(135deg, #380d79, #f160b2);
    color: #fff;
    height: 125px; 
  }

  .footer-logo {
    float: left;
    font-size: 20px;
  }

  .footer-list {
    float: right;  
    line-height:0.2;
    font-size: 20px;
  }

  .footer-list img:hover {
    background-color : #f160b2;
  }

  marquee {
    padding-top:10px;
    color :white;
  }

  .footer-logo p{
    line-height:0.5;
  }
}

@media all and (min-width: 670px) and (max-width:1000px){
  .navigasi a:hover{
    color:#f8add7;
  }

  .navigasi li:hover::after{
    content:'';
    border-bottom: 2px solid #f8add7;
    display:block;
    width:50%;
    margin:0 auto;
    padding-bottom: 5px;
    margin-bottom:-7px;
  }

  .navigasi li{
    padding:0 20px;
    float:right;
  }

  .unggulan {
      width: 50%;
      margin-bottom: 50px;
  }

  .unggulan-logo img{
    width:70%;
  }

  .unggulans{
    margin-bottom:700px;
    padding-bottom:100px;
  }
  /*footer*/
  .footer {  
    background-image:linear-gradient(135deg, #380d79, #f160b2);
    color: #fff;
    height: 125px;
    margin-top: 20px;  
  }

  .footer-logo {
    float: left;
    font-size: 15px;
  }

  .footer-list {
    float: right;  
    line-height:0.2;
    font-size: 15px;
  }

  .footer-list img:hover {
    background-color : #f160b2;
  }

  marquee {
    padding-top:10px;
    color :white;
  }

  .footer-logo p{
    line-height:0.5;
  }

  .profil-list {
    width: 100%;
  }

  .profil-list {
    width: 30%;
    padding-bottom:5px;
  }
}

@media all and (max-width: 670px){
 .kirilogo{
	float:left;
	line-height:65px;
	margin-left:25px;
 }

 .checkbtn{
    display: block;
    margin-right: 40px;
 }

 .checkbtn:hover{
	 color:#f8add7;
 }
 
 .navigasi ul{
    position: fixed;
    width: 100%;
    height: 150vh;
    background:rgba(70, 16, 151,0.9);
    top: 48px;
    left: -100%;
    transition: all .5s;
  }

  .navigasi ul li{
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }

  .navigasi ul li a{
    font-size: 20px;
  }

  a:hover{
    background: none;
    color: #f8add7;
  }

  #check:checked ~ .navigasi ul{
    left: 0;
  }
 
  .unggulan {
      width: 100%;
      margin-bottom: 30px;
  }

  .unggulan-logo img{
    width:50%;
  } 

  .unggulans{
    margin-bottom:1300px;
    padding-bottom:110px;
  }
  /*footer*/
  .footer {  
    background-image:linear-gradient(135deg, #380d79, #f160b2);
    color: #fff;
    height: 125px;
    margin-top: 20px;  
  }

  .footer-logo {
    font-size: 10px;
  }

  .footer-list {
    line-height:0.2;
    font-size: 10px;
  }

  .footer-list img:hover {
    background-color : #f160b2;
  }

  marquee {
    padding-top:10px;
    color :white;
  }

  .footer-logo p{
    line-height:0.2;
  }

  .profil-list {
      width: 100%;
  }
  .profil-list {
    width: 50%;
    padding-bottom:5px;
    
  }
  .slider {
      overflow: hidden; 
      width: 100%; 
      margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    overflow: hidden; 
    width: 100%; 
    margin: 0 auto;
    }
  }