*{
	box-sizing:border-box;
}

body{
	background-image:linear-gradient(135deg, #380d79, #f160b2);
	margin:0;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

.clear{
	clear=left;
}

.container{
	max-width:1170px;
	width:100%;
	padding: 0 15px;
	margin: 0 auto;
}

li{
	list-style:none;
}

header{
	background-color:rgba(70, 16, 151,0.9);
	height:65px;
	width:100%;
	position:fixed;
	top:0;
	z-index:100;
}

.kirilogo {
	float:left;
}

.kirilogo{
	height:40px;
	margin:10px 0;
}

.navigasi li{
	padding:0 20px;
}

.navigasi ul{
	float:right;
	transition: all 0.5s:
}

.navigasi a{
	font-size: 20px;
	font-weight: 500;
	margin-top:5px;
	color:white;
	display:block;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 65px;
  margin-right: 40px;
  padding-right:10px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.layanan {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center; 
}
.judulnya {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #2d0a61;
}

.judulnya h2 {
  font-weight: bold;
}

.unggulan {
  float: left;
}

.unggulan-logo {
  position: relative;
}

.unggulan p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: black;
 
}
.unggulan img{
	filter: drop-shadow(1px 2px 2px rgba(0,0,0,0.8));
}

.profil{
	background:rgba(213,229,233,0.2);
	color: #2d0a61;
}

.myprofil{
	padding-top:50px;
	padding-bottom:20px;
}

.myprofil h2{
	font-weight: bold;
	text-align: center; 
}

.profils {
  display: flex;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.profil-list {
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  width: 15%;
  height: auto;
}

.profil-item img {
  border-radius: 50%;
  width: 80%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgb(213,229,233);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profil-item {
  padding: 20px;
}

.bio {
  text-align: center;
  font-size: normal;
  line-height:10px;
  font-weight: bolder;
}
/* slideshow  */
@keyframes slideshow {
	10% {left: 0;}
	20% {left: 0;}
	30% {left: -100%;}
	40% {left: -100%;}
	50% {left: -200%;}
	60% {left: -200%;}
	70% {left: -300%;}
	80% {left: -300%;}
	90% {left: -400%;}
	100% {left: -400%}
}

.slider {
	overflow:hidden;
	width:100%;
	margin-top:10px; 
}

.slider figure img {
	width:20%;
	float:left;
}

.slider figure { 
	position:relative;
	width:500%;
	margin:0;
	padding-top:65px;
	left:0;
	text-align:left;
	animation:20s slideshow infinite
}